.component__productcardcheckout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; width: 350px;
    
}
.productcardcheckout__content-1 {
    display: flex;
    align-items: center;
}
.productcardcheckout__img img{
    height: 50px;
}

.productcardcheckout__info {            
    color: black;    
}
.productcardcheckout__info h1{
    font-size: 15px;
}
.productcardcheckout__info-quantity {
    display: flex;    
    align-items: center;
    
    width: 90px;
}
.productcardcheckout__info-quantity h5 {
    font-size: 14px;
    font-weight: 300;
    margin-right: 0.5rem;
    color: grey;
}

.productcardcheckout__info-quantity #react-icon-minus {
    cursor: pointer;
    color: grey;
    height: 10px; width: 10px;
    transition: all 0.1s linear;
}
.productcardcheckout__info-quantity #react-icon-plus {
    cursor: pointer;    
    color: grey;
    height: 10px; width: 10px;
    transition: all 0.1s linear;
}
.productcardcheckout__info-quantity #react-icon-minus:active,
.productcardcheckout__info-quantity #react-icon-plus:active {
    
}



.component__productcardcheckout .productcardcheckout__content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component__productcardcheckout #react-icon-remove {
    cursor: pointer;
    height: 20px; width: 20px;
    fill: red;
    margin-right: 2rem;
}
.component__productcardcheckout #react-icon-remove:hover {
    transform: scale3d(1.1,1.1,1.1);
}
